[submodule "deps/ChatTTS"]
	path = deps/ChatTTS
	url = https://github.com/weedge/ChatTTS.git
[submodule "deps/SenseVoice"]
	path = deps/SenseVoice
	url = https://github.com/weedge/SenseVoice.git
[submodule "deps/CosyVoice"]
	path = deps/CosyVoice
	url = https://github.com/weedge/CosyVoice.git
[submodule "ui/educator-client"]
	path = ui/educator-client
	url = https://github.com/ai-bot-pro/educator-client.git
[submodule "ui/web-client-ui"]
	path = ui/web-client-ui
	url = https://github.com/ai-bot-pro/web-client-ui.git
[submodule "deps/GOTOCR2"]
	path = deps/GOTOCR2
	url = https://github.com/weedge/GOT-OCR2.0
[submodule "deps/GLM4Voice"]
	path = deps/GLM4Voice
	url = https://github.com/weedge/GLM-4-Voice.git
[submodule "deps/FreezeOmni"]
	path = deps/FreezeOmni
	url = https://github.com/weedge/Freeze-Omni.git
[submodule "deps/F5TTS"]
	path = deps/F5TTS
	url = https://github.com/weedge/f5-tts.git
[submodule "deps/OpenVoice"]
	path = deps/OpenVoice
	url = https://github.com/weedge/OpenVoice.git
[submodule "deps/FishSpeech"]
	path = deps/FishSpeech
	url = https://github.com/weedge/fish-speech.git
[submodule "deps/StyleTTS2"]
	path = deps/StyleTTS2
	url = https://github.com/weedge/StyleTTS2.git
[submodule "deps/Janus"]
	path = deps/Janus
	url = https://github.com/weedge/Janus.git
[submodule "deps/DeepSeekVL2"]
	path = deps/DeepSeekVL2
	url = https://github.com/weedge/DeepSeek-VL2.git
[submodule "deps/Zonos"]
	path = deps/Zonos
	url = https://github.com/weedge/Zonos.git
[submodule "deps/StepAudio"]
	path = deps/StepAudio
	url = https://github.com/weedge/Step-Audio.git
[submodule "deps/SparkTTS"]
	path = deps/SparkTTS
	url = https://github.com/weedge/Spark-TTS
[submodule "deps/MegaTTS3"]
	path = deps/MegaTTS3
	url = https://github.com/weedge/MegaTTS3.git
[submodule "deps/WavTokenizer"]
	path = deps/WavTokenizer
	url = https://github.com/weedge/WavTokenizer.git
[submodule "deps/KimiAudio"]
	path = deps/KimiAudio
	url = https://github.com/weedge/Kimi-Audio.git
[submodule "deps/VITAAudio"]
	path = deps/VITAAudio
	url = https://github.com/weedge/VITA-Audio.git
[submodule "deps/FastVLM"]
	path = deps/FastVLM
	url = https://github.com/weedge/ml-fastvlm.git
[submodule "deps/LiteAvatar"]
	path = deps/LiteAvatar
	url = https://github.com/weedge/lite-avatar.git
	branch = feat/achatbot
[submodule "deps/MuseTalk"]
	path = deps/MuseTalk
	url = https://github.com/weedge/MuseTalk.git
	branch = feat/achatbot
[submodule "deps/LAM_Audio2Expression"]
	path = deps/LAM_Audio2Expression
	url = https://github.com/weedge/LAM_Audio2Expression.git
