[submodule "deps/ChatTTS"]
	path = deps/ChatTTS
	url = https://github.com/weedge/ChatTTS.git
[submodule "deps/SenseVoice"]
	path = deps/SenseVoice
	url = https://github.com/weedge/SenseVoice.git
[submodule "deps/CosyVoice"]
	path = deps/CosyVoice
	url = https://github.com/weedge/CosyVoice.git
[submodule "ui/web-client-ui"]
	path = ui/web-client-ui
	url = https://github.com/weedge/web-client-ui.git