[submodule "deps/ChatTTS"]
	path = deps/ChatTTS
	url = https://github.com/weedge/ChatTTS.git
[submodule "deps/SenseVoice"]
	path = deps/SenseVoice
	url = https://github.com/weedge/SenseVoice.git
[submodule "deps/CosyVoice"]
	path = deps/CosyVoice
	url = https://github.com/weedge/CosyVoice.git
[submodule "ui/rtvi-web-demo"]
	path = ui/rtvi-web-demo
	url = https://github.com/weedge/rtvi-web-demo.git
[submodule "ui/educator-client"]
	path = ui/educator-client
	url = https://github.com/ai-bot-pro/educator-client.git
