fastapi==0.112.0
requests==2.32.3
apipeline==0.1.7
python-dotenv==1.0.1
pydub==0.25.1
openai==1.40.6
pillow==10.4.0
websockets==12.0
aiohttp==3.10.3
daily-python==0.10.1
scipy==1.14.0
pyloudnorm==0.1.1
numpy==1.26.4
torch==2.2.2
torchaudio==2.2.2
langchain==0.2.13
langchain-openai==0.1.21
langchain-community==0.2.12
deepgram-sdk==3.4.0
mangum==0.17.0
uvicorn==0.30.6
tidb-vector==0.0.10
pymysql==1.1.1