# 服务器 URL 配置
VITE_SERVER_URL=http://localhost:4321

# https://www.modelscope.cn/studios/Damo_XR_Lab/LAM_Large_Avatar_Model
# lam生成的3d数字物料路径
VITE_AVATAR_PATH=./asset/arkit/p2-1.zip

# avatar_data_frames.proto file path
VITE_PROTOBUF_PATH=./asset/avatar_data_frames.proto